<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193843159568-nkgsldet7da868vs0ospjk5o2elfjulg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193843159568-nkgsldet7da868vs0ospjk5o2elfjulg</string>
	<key>API_KEY</key>
	<string>AIzaSyDNgLSDv0eQzpyHB6qn-Vd3walIskUhLm4</string>
	<key>GCM_SENDER_ID</key>
	<string>193843159568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Blood-Donation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-9e01e</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-9e01e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193843159568:ios:823e1e345c772d3e14a095</string>
</dict>
</plist>